*{
 
    box-sizing: border-box;
}
.container{
    background-color: lime;
    height: 800px;
    width: 80%;
    margin: 0 auto;
}
.wrapper{
    background-color: dodgerblue;
    height: 800px;
    width: 80%;

}
.inner{
    text-align: center;
    font-size: 40px;
    height: 80px;
    width: 80px;
    background-color: forestgreen;
   border: 1px solid black;
}
.div1{
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    height:50% ;
    width: 50%;
}

.div2{
    background-color: blue;
    position: fixed;
    top: 0;
    right: 0;
    height:50% ;
    width: 50%;
    
}

.div3{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    height:50% ;
    width: 50%;

}

.div4{
    background-color: coral;
    position: fixed;
    bottom: 0;
    right: 0;
    height:50% ;
    width: 50%;

}

